*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradlew
gradlew.bat
.idea/
store.jks
app/src/androidTest/java/com/faralot/core/ApplicationTest.java
gradle/
app/build/
